

*{padding-top: 0;
    margin-top: 0;
 }
body{
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.2)), url("pic11.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center; 
    
}


a{
    text-decoration: none;
    color: antiquewhite;
    margin-left: 60px;
} 

 #logo{
    font-size: 35px;
    /* font-weight: bold; */
    color: antiquewhite;
    letter-spacing: 2px;
    cursor: pointer;
    f;
   
    letter-spacing: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
} 
#pos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top:220px;
    left: 120px;
    
}


 @font-face {
    font-family: myfont;
    src: url(Macaroni.ttf);
   }

#tagl{
    position: relative;
    top: 35px;
    right: 160px;
    color: rgb(255, 205, 140);
    font-size: 30px;
    font-family: myfont;
      
      
}
#logo{
    height:90%;
}
.options{
 
    align-items: right; 
    flex-wrap: wrap;
     /* background: rgba(0,0,0,0.3);
     */
    padding: 20px 10%;
    position: fixed;
    width: 100%;
     
    font-family: "Roboto Condensed", sans-serif;
   
}
#options{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
